/*---------------ABOUT ME STYLE---------------*/
@import 'colores';
@import 'animations';

.aboutme{
    margin-top: 2rem;

    .aboutme__title{
        text-align: center;
        margin-bottom: 2rem;
    }
    .aboutme__container{
        padding: 1.5rem;
        border: 0.1rem solid $azulClaro;
        border-radius: 8px;
        text-align: justify;
        text-wrap: pretty;
        animation: appear 4s -.10s both;
        
        .aboutme__img{
            margin-bottom: 2rem;
            border-radius: 12px;
            width: 480px;
        }

        .aboutme__data-container{
            max-width: 600px;
            padding: 2rem;
        }
            .aboutme__description{
                font-size: 1rem;
            }
        }
}

/*---------------ABOUT ME END---------------*/