/*---------------MEDIA QUERIES---------------*/
@import 'colores';
@import 'animations';
/*mobile*/
@media screen and (min-width: 320px) and (max-width: 767px){
    header{
        padding: 10px 0;
        animation: header-animation both;
        animation-timeline: scroll();
        position: sticky;
        top: 0;
        z-index: 10;
        .header__logo{
            max-width: 100%;
            width: 3rem;
            margin: 0;
        }
    }

    .wrapper{
        flex: 1;
    }
    
    .intro__wrapper{
        text-align: center;
        text-wrap: pretty;
        animation: appear 4s -.10s both;
        align-items: center;
        
        .carousel-inner{
            max-height: 72rem;
            overflow: hidden;
            margin-bottom: 2rem;
            border: solid transparent;
    
            .carousel-item img{
                width: 100%;
                height: auto;
            }
            }
    
        }

    .intro__aboutme{
        display: flex;
        padding: auto;
        margin: auto;
        flex-direction: column;
        justify-content: center;
    }
    .aboutme__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        .aboutme__img{
            max-width: 100%;
            width: 480px;
        }
    }
    .portfolio{
        display: block;
        padding: 20px;

        .portfolio__photo{
            margin-bottom: 1rem;
        }
    }
    .portfolio__title{
        margin-top: 0.2rem;
        margin-bottom: 0;
        text-align: center;
        font-size: 2rem;
    }
}

/*tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px){
    
    header{
        padding: 10px 0;
        animation: header-animation both;
        animation-timeline: scroll();
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .wrapper{
        flex: 1;
    }
    
    .intro__wrapper{
        text-align: center;
        text-wrap: pretty;
        animation: appear 4s -.10s both;
        align-items: center;
        
        .carousel-inner{
            max-height: 72rem;
            overflow: hidden;
            margin-bottom: 2rem;
            border: solid transparent;
    
            .carousel-item img{
                width: 75%;
                height: auto;
            }
            }
    
        }
    .aboutme__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        .aboutme__img{
            max-width: 100%;
            width: 480px;
        }
    }
    .servicios__works-container{
        grid-template-columns: repeat(auto-fill,minmax(40rem,1fr));
    }
    .servicios__work:first-child{
        grid-column: span 2;
    }
    .servicios__work:nth-child(6){
        grid-column: span 2;
    }
}
/*desktop*/

@media screen and (min-width: 1024px){
    .aboutme__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }
    .portfolio{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px));
        gap: 10px;
        padding: 10px;
        margin: auto;
    }
header{
    padding: 10px 0;
    animation: header-animation both;
    animation-timeline: scroll();
    position: sticky;
    top: 0;
    z-index: 10;
}
.wrapper{
    flex: 1;
}

.intro__wrapper{
    text-align: center;
    text-wrap: pretty;
    animation: appear 4s -.10s both;
    align-items: center;
    
    .carousel-inner{
        max-height: 72rem;
        overflow: hidden;
        margin-bottom: 2rem;
        border: solid transparent;

        .carousel-item img{
            width: 50%;
            height: auto;
        }
        }

    }

.form__title{
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: -2rem;
}
.form__container{
        background-image: linear-gradient($azulOscuro, transparent);
        padding: 30px;
        border-radius: 12px;
        box-shadow: 0px 0px 25px $azulClaro;
}
    .servicios__works-container{
        grid-template-columns: repeat(auto-fill,minmax(30rem,1fr));
    }
    .servicios__work:first-child{
        grid-column: span 2;
        grid-row: span 2;
    }
    .servicios__work:nth-child(6){
        grid-column: span 4;
    }
}