/*---------------SERVICIOS STYLE---------------*/
@import 'colores';
.servicios{
    background-color: $fondo;
    color: $blanquito;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;

    .servicios__title{
        margin-top: 1rem;
        margin-bottom: -5rem;
        font-size: 2rem;
    }
    /*asdasd*/
    .servicios__works-container{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1600px;
        margin: auto;
        width: 100%;
        gap: 0.6rem;
        padding: 0.5rem;
        min-height: 80vh;
        }
    .servicios__work{
        background-position: center;
        background-size: cover;
        display: grid;
        place-content: center;
        &:hover{
            opacity: 0.75;
            outline: 2px solid $amarillo;
            }
        }
    .servicios__work:first-child{
        background-image: linear-gradient(#0009,#0009),url(../assets/moda/moda-10.jpg);
        }
    .servicios__work:nth-child(2){
        background-image: linear-gradient(#0009,#0009),url(../assets/eventos/music-7.jpg);
        }
    .servicios__work:last-child{
        background-image: linear-gradient(#0009,#0009),url(../assets/fotoproducto/red-label2.jpg);
        }
}
/*---------------SERVICIOS END---------------*/